@namespace IAS.Client.Components.UI

<div class="border-b @Class" data-state="@(IsOpen ? "open" : "closed")" @attributes="AdditionalAttributes">
    <h3 class="flex">
        <button type="button"
                class="flex flex-1 items-center justify-between py-4 text-sm font-medium transition-all hover:underline [&[data-state=open]>svg]:rotate-180"
                data-state="@(IsOpen ? "open" : "closed")"
                @onclick="Toggle">
            @Title
            <svg class="h-4 w-4 shrink-0 text-muted-foreground transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m6 9 6 6 6-6"/>
            </svg>
        </button>
    </h3>
    @if (IsOpen)
    {
        <div class="overflow-hidden text-sm data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
             data-state="open">
            <div class="pb-4 pt-0">
                @ChildContent
            </div>
        </div>
    }
</div>

@code {
    [CascadingParameter] public Accordion? Parent { get; set; }

    [Parameter, EditorRequired] public string Value { get; set; } = "";
    [Parameter] public RenderFragment? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool IsOpen => Parent?.IsOpen(Value) ?? false;

    private void Toggle()
    {
        Parent?.Toggle(Value);
    }
}
