@namespace IAS.Client.Components.UI

<div class="@GetClasses()" role="separator" @attributes="AdditionalAttributes"></div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string BaseClasses => "-mx-1 my-1 h-px bg-muted";

    private string GetClasses()
    {
        return $"{BaseClasses} {Class}".Trim();
    }
}
