@namespace IAS.Client.Components.UI

<div class="@GetClasses()" @attributes="AdditionalAttributes">
    <div class="h-full w-full overflow-auto rounded-[inherit] scrollbar-thin scrollbar-thumb-border scrollbar-track-transparent">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string BaseClasses => "relative overflow-hidden";

    private string GetClasses()
    {
        return $"{BaseClasses} {Class}".Trim();
    }
}
