@namespace IAS.Client.Components.UI.Sidebar

<div class="@GetClasses()" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string BaseClasses => "flex min-h-0 flex-1 flex-col gap-2 overflow-y-auto overflow-x-hidden p-2 scrollbar-hide";

    private string GetClasses()
    {
        return $"{BaseClasses} {Class}".Trim();
    }
}
